.Rproj.user
.Rhistory
.RData
.Ruserdata
.netlify
public
blogdown
content/data
_site/

/node_modules
package-lock.json

/.quarto/

# Python virtual environment
venv/
.venv/
*.pyc
__pycache__/
.python-version
_extensions/
